.response-table, .response-table td, .response-table th {  
    border: 1px solid #474444;
    text-align: left;
  }

.response-table {
    margin-top: 1rem;
    border-collapse: collapse;
    width: auto;
    overflow-x: auto;
    overflow-y: auto;
  }
  
  .response-table th, .response-table td {
    text-align: left;
    padding: 8px;
  }