<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Databases Lab 5</title>
    <link rel="stylesheet" href="static/css/page-skeleton-design.css">
    <link rel="stylesheet" href="static/css/collapsible-design.css">
    <link rel="stylesheet" href="static/css/query-input-design.css">
</head>

<body>
    <header>CSI 2132 Lab #5: Advanced SQL Queries</header>
    <div class="container">
        <nav>
            <a href="{{ url_for('student_homepage') }}">Home</a>
            <br>
            <a href="{{ url_for('lab_material_one') }}">Lab Material 1</a>
            <br>
            <a href="{{ url_for('lab_material_two') }}">Lab Material 2</a>
            <br>
            <a href="{{ url_for('lab_material_three') }}">Lab Material 3</a>
            <br>
            <a href="{{ url_for('lab_material_four') }}">Lab Material 4</a>
            <br>
            <a href="#">Lab Material 5</a>
        </nav>
        <main>
            <h2>SQL Data Manipulation and Retrieval</h2>
            <p>This material focuses on advanced SQL query techniques, covering multiple table joins, group operations,
                nested queries, and the use of aggregate functions. Learning outcomes include enhanced proficiency in
                writing complex SQL queries, understanding advanced database concepts, and the ability to manipulate and
                retrieve data efficiently using various SQL functions.</p>
            <button class="collapsible"><b>Exercise 20:</b> Create Sailor Tables</button>
            <div class="content">
                <br>
                <p>The lab material is based on the Sailors ER Diagram as shown below:</p>
                <br>
                <img src="{{ url_for('static', filename='images/artER.png') }}" alt="ER Diagram for Artwork Tables."
                    class="responsive-image">
                <br>
                <p>The required tables are shown below:</p>
                <br>
                <img src="{{ url_for('static', filename='images/artTables.png') }}" alt="Artwork Tables."
                    class="responsive-image">
                <br>
                <p>
                    Execute create table queries to create the above 4 tables. Make sure to use the laboratories schema
                    created
                    above (append schemaName to the tableName).
                </p>
                <br>
                <form class="queryForm">
                    <input type="text" class="query" placeholder="Create Table Query" required>
                    <br><br>
                    <input type="submit" value="Execute Query">
                    <br>
                    <div class="alert-container"></div>
                </form>
                <br>
                <button class="collapsible">Create Art Work Tables</button>
                <div class="content">
                    <br>
                    <p>CREATE TABLE laboratories.Artist(
                        AName VARCHAR(20),
                        Birthplace
                        VARCHAR(20),
                        Style VARCHAR(20),
                        DateOfBirth DATE,
                        PRIMARY KEY
                        (AName));</p>
                    <p>
                    </p>
                </div>
                <br>
            </div><br>
        </main>
    </div>
    <script src="static/js/query-execution.js"></script>
    <script src="static/js/collapsiblescript.js"></script>
</body>

</html>