<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Databases Lab 5</title>
    <link rel="stylesheet" href="static/css/page-skeleton-design.css">
    <link rel="stylesheet" href="static/css/collapsible-design.css">
    <link rel="stylesheet" href="static/css/query-input-design.css">
</head>

<body>
    <header>CSI 2132 Lab #3: More on SQL</header>
    <div class="container">
        <nav>
            <a href="{{ url_for('student_homepage') }}">Home</a>
            <br>
            <a href="{{ url_for('lab_material_one') }}">Lab Material 1</a>
            <br>
            <a href="{{ url_for('lab_material_two') }}">Lab Material 2</a>
            <br>
            <a href="{{ url_for('lab_material_three') }}">Lab Material 3</a>
            <br>
            <a href="{{ url_for('lab_material_four') }}">Lab Material 4</a>
            <br>
            <a href="#">Lab Material 5</a>
        </nav>
        <main>
            <h2>More SQL Commands: Drop, Alter, and Query</h2>
            <p>Focus on advanced SQL commands and practices, including altering and destroying database tables,
                performing insertions and deletions, and writing complex queries involving multiple tables. Key topics
                covered include the use of DROP TABLE and ALTER TABLE commands for modifying table structures, inserting
                data into existing tables, deleting rows based on conditions, and employing SELECT statements with
                clauses like GROUP BY, HAVING, and ORDER BY. Provides practical exercises to reinforce these concepts,
                such as adding columns with constraints, inserting specific records, and crafting queries to retrieve
                and manipulate data. Learning outcomes include a deeper understanding of SQL syntax, database
                management, and the ability to execute complex data operations.</p>

        </main>
    </div>
    <script src="static/js/query-execution.js"></script>
    <script src="static/js/collapsiblescript.js"></script>
</body>

</html>