<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Databases Lab 1</title>
  <link rel="stylesheet" href="static/css/page-skeleton-design.css">
  <link rel="stylesheet" href="static/css/collapsible-design.css">
  <link rel="stylesheet" href="static/css/table-design.css">
</head>

<body>
  <header>CSI 2132 Lab #1: PostgreSQL</header>
  <div class="container">
    <nav>
      <a href="{{ url_for('student_homepage') }}">Home</a>
      <br>
      <a href="#">Lab Material 1</a>
      <br>
      <a href="{{ url_for('lab_material_two') }}">Lab Material 2</a>
      <br>
      <a href="{{ url_for('lab_material_three') }}">Lab Material 3</a>
      <br>
      <a href="{{ url_for('lab_material_four') }}">Lab Material 4</a>
      <br>
      <a href="{{ url_for('lab_material_five') }}">Lab Material 5</a>
    </nav>
    <main>
      <h2>Introduction to PostgreSQL: Installation & Configuration</h2>
      <p>Learn about the installation and setup of PostgreSQL and its client tool, pgAdmin. A guide through installing a
        Database Management System (DBMS), logging in, importing sample schemas, and using PostgreSQL's features.
        Supported and unsupported DBMSs and development tools are outlined, with an emphasis on recommended practices.
        Including details on setting up web development stacks (XAMPP, MAMP, LAMP) and generating dummy data
        for projects. At the end learners will have a comprehensive understanding of PostgreSQL installation,
        configuration, and basic operations, enabling them to effectively manage and interact with databases using
        pgAdmin.</p>
      <button class="collapsible">Data Base Management Systems <br> A DataBase Management System (DBMS) is a software
        system for creating and managing databases.</button>
      <div class="content">
        <br>
        <p>The suggested DBMS for this course are:</p>
        <ul>
          <li>MySQL</li>
          <li>MariaDB</li>
          <li>PostgreSQL</li>
        </ul>
        <p>Throughout the lectures and lab will be on PostgresSQL</p>
        <p>Other DBMS Available include:</p>
        <ul>
          <li>ORACLE</li>
          <li>Microsoft SQL Server</li>
          <li>IBM DB2</li>
        </ul>
        <p>Other types of databases include:</p>
        <ul>
          <li>Key/value stores</li>
          <li>NoSQL databases</li>
          <li>Column-oriented databases</li>
          <li>Document-oriented databases</li>
          <li>Graph databases</li>
          <li>Object-Oriented databases</li>
          <li>Map/Reduce frameworks</li>
          <li>Semantic data stores</li>
        </ul>
        <p>Some DBMS Clients are:</p>
        <ul>
          <li>MySQL Workbench</li>
          <li>Database Workbench</li>
          <li>Dbeaver</li>
          <li>Heidisql</li>
          <li>Phpmyadmin</li>
          <li>Pgadmin</li>
        </ul>
        <p>Some Development Tools include:</p>
        <ul>
          <li>Java</li>
          <li>PHP</li>
          <li>Nodejs/JavaScript</li>
          <li>Python</li>
          <li>.NET</li>
          <li>C</li>
          <li>C++</li>
        </ul>
        <p>For this course the suggested development tools are Java, PHP, JavaScript and Python</p>
      </div>
      <br>
      <h2>Object-Relational Mapping</h2>
      <p>Object-Relational Mapping (ORM) frameworks simplify database interactions by allowing developers to work with
        database records using object-oriented programming instead of raw SQL. They enhance productivity,
        maintainability, and security by abstracting database operations and providing a consistent API. Popular ORM
        frameworks include Hibernate (Java), Entity Framework (C#), Django ORM (Python), and Sequelize (Node.js).</p>
      <h2>Web Development Stack</h2>
      <p>Bundles with <b>A</b>pache, <b>M</b>ySql/ MariaDB, <b>P</b>HP</p>
      <ul>
        <li>Windows XAMP</li>
        <li>Mac MAMP</li>
        <li>Linux LAMP</li>
      </ul>

      <h2>MySQL-vs-PostgreSQL Comparison</h2>
      <div style="overflow-x: auto; overflow-y: auto;">
        <table>
          <thead>
            <tr>
              <th>Feature</th>
              <th>MySQL</th>
              <th>PostgreSQL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Data Safety</td>
              <td>Ensures data safety (ACID) based on an explicit setting</td>
              <td>Always ensures data safety (ACID) by default</td>
            </tr>
            <tr>
              <td>Following Rules</td>
              <td>Doesn't always follow SQL rules strictly</td>
              <td>Follows SQL rules very strictly</td>
            </tr>
            <tr>
              <td>JSON Data</td>
              <td>Can handle JSON data, but not as well as PostgreSQL</td>
              <td>Great at handling JSON data, good for NoSQL tasks</td>
            </tr>
            <tr>
              <td>Extensibility</td>
              <td>MySQL has a more rigid system with limited extensibility features.</td>
              <td>PostgreSQL is highly extensible, allowing users to add new data types, index types, and functions.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <button class="collapsible">Data Generators</button>
      <div class="content">
        <br>
        <p>Online data generators are tools that create dummy datasets for testing and development purposes. They allow
          users to customize the data fields and formats to mimic real-world data, ensuring the data is varied and
          realistic.<br>Some of the data generators are:</p>
        <ul>
          <li><a href="http://filldb.info/" target="_blank">filldb</a></li>
          <li><a href="https://generatedata.com/" target="_blank">generatedata</a></li>
          <li><a href="https://www.mockaroo.com/" target="_blank">mockaroo</a></li>
          <li><a href="https://cobbl.io/" target="_blank">cobbl</a></li>
        </ul>
      </div>
      <br>
      <button class="collapsible">Overview of PostgreSQL & pgAdmin</button>
      <div class="content">
        <br>
        <h3>PostgreSQL</h3>
        <ul>
          <li><a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a></li>
          <li>It is a powerful, open source object-relational database
            management system (ORDBMS)</li>
          <li>Since it is open source, it is not controlled by any single
            company. Thus, its development relies on the global
            community of developers and companies</li>
          <li>We can download, install, use and inspect its source
            code at no cost.</li>
          <li><a href="https://www.pgadmin.org/" target="_blank">Client tool: pgAdmin</a></li>
        </ul>
        <p>pgAdmin is a comprehensive open-source management tool for PostgreSQL, a powerful relational database system.
          It provides a graphical interface to manage databases, run SQL queries, and administer database operations.
          pgAdmin supports a wide range of PostgreSQL features.</p>
        <p>Using the link below you can use pgAdmin as well to run queries.</p>
        <a href="http://localhost:8080" target="_blank">pgAdmin</a>
        <br><br>
      </div>
      <br>
      <button class="collapsible">pgAdmin Guide</button>
      <div class="content">
        <br>
        <h3>Setting up and using pgAdmin in your local machine or use the pgAdmin Tool from <a
            href="http://localhost:8080" target="_blank">here</a></h3>
        <ul>
          <li>Download and install PostgreSQL</li>
          <li>The installation includes pgAdmin</li>
          <li>Select the latest versions</li>
          <li>Select your operating system</li>
          <li>Select the defaults (port, locale)</li>
          <li>Select admin password
          </li>
        </ul>
        <h3>Main Window - Tree Control: Server tree and the objects that reside on a server</h3>
        <img src="{{ url_for('static', filename='images/pgAdminServerTree.png') }}" alt="pgAdmin Server Tree"
          class="responsive-image">
        <br>
        <h3>Main Window - Dashboard: Provides an
          active analysis
          of the usage
          statistics for the
          selected server
          or database
        </h3>
        <img src="{{ url_for('static', filename='images/dashboard.png') }}" alt="pgAdmin Dashboard"
          class="responsive-image">
        <br>
        <h3>Query Tool: Can be accessed through Tools->Query Tool or Right click on resource->Query Tool. Used to type
          sql statements to create query. After running the query, query results displayed at the bottom.
        </h3>
        <img src="{{ url_for('static', filename='images/queryTool.png') }}" alt="pgAdmin Query Tool"
          class="responsive-image">
        <br>
      </div>
      <script src="static/js/collapsiblescript.js"></script>
    </main>
  </div>
</body>

</html>