<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Homepage</title>
    <link rel="stylesheet" href="static/css/pageskeletondesign.css">
    <link rel="stylesheet" href="static/css/collapsiblesstylesheet.css">

</head>

<body>
    <header>CSI 2132 Lab #1: PostgreSQL</header>
    <div class="container">
      <nav>
          <a href="/">Home</a>
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Contact</a>
      </nav>
      <main>
          <h2>Introduction to PostgreSQL: Installation, Configuration, and Basic Operations</h2>
          <p>The material focuses on the installation and setup of PostgreSQL and its client tool, pgAdmin. It guides through installing a database management system (DBMS), logging in, importing sample schemas, and using PostgreSQL's features. Supported and unsupported DBMSs and development tools are outlined, with an emphasis on recommended practices. The lab includes a tutorial on setting up web development stacks (XAMPP, MAMP, LAMP) and generating dummy data for projects. By the end of this lab, learners will have a comprehensive understanding of PostgreSQL installation, configuration, and basic operations, enabling them to effectively manage and interact with databases using pgAdmin.</p>


<h2>Animated Collapsibles</h2>

<p>Collapsible Set:</p>
<button class="collapsible">DBMS Installation</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<h2>Databases</h2>
<p>A database is a structured collection of data organized for efficient retrieval, storage, and management. It serves as a repository where data is stored in a structured format, allowing for easy querying, updating, and analysis. Databases are fundamental in applications ranging from simple websites to complex enterprise systems.</p>
<button class="collapsible">Other software installation</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<button class="collapsible">Overview of PostgreSQL</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<button class="collapsible">Overview of pgAdmin</button>
<div class="content">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
<script src="static/js/collapsiblescript.js"></script>
</main>
</div>
</body>
</html>
