<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Homepage</title>
    <link rel="stylesheet" href="static/css/studenthomepage/homescreen.css">
    <link rel="stylesheet" href="static/css/studenthomepage/dockerinfopopup.css">
</head>
<body>
    <header>Page Title</header>
    <div class="container">
      <nav>
          <a href="/">Home</a>
          <a href="#" id="myBtn">Dockers: Read on how this application runs</a>
          <a href="#">About</a>
          <a href="#">Services</a>
          <a href="#">Contact</a>
      </nav>
      <main>
          <h2>Databases</h2>
          <p>A database is a structured collection of data organized for efficient retrieval, storage, and management. It serves as a repository where data is stored in a structured format, allowing for easy querying, updating, and analysis. Databases are fundamental in applications ranging from simple websites to complex enterprise systems.</p>
      </main>
  </div>

<div id="myModal" class="docker-info-modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Dockers</h2>
    <h3>What is a Docker ? </h3>
    <h4>Docker is like a magic box for your software! It's a tool that helps you pack up an entire application and everything it needs to run smoothly, like libraries and settings, into a neat, portable package called a container. Imagine it's like a mini-virtual computer just for your app!<br>Docker is a platform that enables developers to package, deploy, and run applications within containers. Containers are lightweight, portable, and self-sufficient environments that contain everything needed to run an application, including code, runtime, libraries, and depndencies. Docker uses containerization technology to ensure consistency across different computing environments. </h4>.
  </div>
</div>
<script src="static/js/studenthomepage/dockerinfopopup.js"></script>
    </body>
</html>
